name: Run Python unit tests

on:
  workflow_call

jobs:
  build_and_test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false

    steps:
      - name: Checkout harmony-gdal-adapter repository
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Build service image
        run: ./bin/build-image

      - name: Build test image
        run: ./bin/build-test

      - name: Run test image
        run: ./bin/run-test

      - name: Archive test results
        uses: actions/upload-artifact@v3
        with:
          name: Test results for Python ${{ matrix.python-version }}
          path: test-reports/

      - name: Archive coverage report
        uses: actions/upload-artifact@v3
        with:
          name: Coverage report for Python ${{ matrix.python-version }}
          path: coverage/*
